.login-view,
.signup-view {
  @include flex(column);
  .logo {
    margin: rem(40px) 0;
    @include flex;
    gap: rem(15px);
    cursor: pointer;
    font-size: 30px;
    span {
      color: $clr7;
      font-size: 1.3em;
    }
    h2 {
      font-family: katahdin;
    }
  }
  .login-container {
    width: 400px;
    @include flex(column);
    background-color: $clr4;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    @media (max-width: 400px) {
      width: 100%;
      padding: 10px;
      height: 100%;
    }
    .failed {
      position: absolute;
      top: 10%;
      background: #eb5a46;
      color: #fbedeb;
      padding: rem(7px) rem(14px);
      border-radius: 10px;
      font-size: 14px;
      margin-bottom: 20px;
      p {
        margin: 0;
      }
    }
    h3 {
      color: $clr6;
      margin-bottom: rem(25px);
      font-size: rem(16px);
      letter-spacing: -0.01em;
      font-weight: 700;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .user-crad {
      input {
        @include custom-input;
        padding: rem(12px);
        &::placeholder {
          font-size: rem(14px);
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      }
      @include flex(column);
      width: 100%;
    }
    .login-btn {
      @include blue-btn;
      &:hover {
        background-color: lighten(#5aac44, 5%);
      }
      margin-top: rem(17px);
      width: 100%;
      background-color: #5aac44;
      font-weight: 700;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    a {
      text-decoration: none;
      color: #0052cc;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: rem(16px);
      &:hover {
        text-decoration: underline;
      }
    }
    .or {
      font-size: rem(12px);
      margin: rem(16px) 0;
    }
    hr {
      margin: 8px 0;
      background-color: #091e4221;
      border: 0;
      height: 1px;
      padding: 0;
      margin: rem(20px) 0;
      width: 100%;
    }
    .google {
      width: 100%;
      cursor: pointer;
      @include flex;
      gap: rem(8px);
      box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
      border-radius: 3px;
      height: 41px;
      &:hover {
        background-color: #F9FAFC;
      }
      h3 {
        margin: 0;
        color: #505f79;
        font-size: rem(14px);
      }
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.failed-enter-active,
.failed-leave-active {
  transition: opacity 1s ease;
}

.failed-enter-from,
.failed-leave-to {
  opacity: 0;
}
