.workspace-view {
    color: #172b4d;
    .workspace-header {
        @include header-color(workspace);
        top: 0;
    }
    .workspace-wrapper {
        @include flex(row, center, flex-start);
        margin-block-start: 44px;
        
        .workspace-nav {
            font-weight: 600;
            font-size: rem(16px);
            margin: 40px 0 0;
            padding: 0 16px;

            .nav-options-top {
                @include flex(column);
                margin-top: 0;
                gap: rem(3px);

                a {
                    color: #172b4d;
                    @include flex(row, start);
                    cursor: pointer;
                    width: 200px;
                    transition: background-color 45ms;
                    text-decoration: none;
                    align-items: center;
                    border-radius: 4px;
                    box-shadow: none;
                    font-weight: bold;
                    margin: 0 0 4px 0;
                    min-height: 20px;
                    overflow: hidden;
                    padding: 6px 8px 6px 0;
                    height: 36px;
                    width: 240px;

                    &.active {
                        background-color: #e4f0f6;
                        color: #0079bf;
                    }

                    &:hover {
                        background-color: $clr5;
                    }

                    .icon {
                        font-family: trellicons;
                        display: block;
                        flex: 0 0 auto;
                        text-align: center;
                        width: 32px;
                        font-weight: 100;
                    }
                    .board-icon {
                        &:before {
                            content: "\e90b";
                        }
                    }
                    .template-icon {
                        &:before {
                            content: "\e96d";
                        }
                    }
                    .home-icon {
                        &:before {
                            content: "\e938";
                        }
                    }

                    .view-name {
                        flex: 1 1 auto;
                        width: min-content;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .board-list-container {
            margin: 35px 16px 0;
            max-width: 825px;
            min-width: 288px;
            width: 100%;
        }
    }
}

/* MOBILE */

@media (max-width: 600px) {
    .workspace-view {
        .workspace-nav {
            display: none;
        }
    }
}

/* SMALL */

@media (min-width: 600px) {
    .workspace-view {
        .workspace-nav {
            display: block;
        }
    }
}