.attachment-container {
    .custom-modal-main {
        padding: 0;
        .attachment-picker {
            li {
                padding: rem(6px) rem(12px);
                &:hover {
                    background-color: $clr5;
                }
            }
            label {
                position: relative;
                input {
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    width: 302px;
                }
            }
            .video-rec {
                position: fixed;
                top: 50%;
                left: 50%;
                z-index: 25;
                transform: translate(-50%, -50%);
                .video {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }

}
