.board-add {
    .demo-board {
        margin: auto;
        width: 200px;
        height: 120px;
        padding: rem(12px) rem(8px) rem(10px) rem(8px);
        background-size: contain;
    }
    .background-picker {
        margin-top: rem(15px);
        .image-picker {
            > * {
                margin: 0;
                cursor: pointer;
            }
            border-radius: 3px;
            @include flex;
            gap: rem(8px);
            img {
                width: 64px;
                height: 40px;
                border-radius: 3px;
                transition: all 0.3s;
                &:hover {
                    filter: brightness(70%);
                }
            }
        }
        .color-picker {
            @include flex;
            gap: rem(8px);
            margin-block-end: rem(25px);
            > * {
                margin: 0;
                cursor: pointer;
            }

            .color {
                margin: auto;
                width: 40px;
                height: 32px;
                border-radius: 3px;
                &:hover {
                    filter: brightness(70%);
                }
            }
        }
    }
    input {
        @include custom-input;
    }
    button {
        @include blue-btn;
        width: 100%;
    }
}
