.cover-picker {
    .cover-preview-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        overflow-x: hidden;

        .cover-preview,
        .full-cover-preview {
            cursor: pointer;
            border-radius: 3px;
            width: 134px;
            border: 1px solid rgba(9, 30, 66, 0.08);
            height: 62px;

            .cover-top {
                height: 28px;
                border-radius: 3px 3px 0 0;
                background-size: cover;
                background-position: center;
                position: relative;
                height: 100%;
            }

            .cover-bottom {
                padding: 6px 4px 4px 6px;
                position: absolute;
                bottom: 0;
                background-color: white;

                .content-container {
                    display: flex;
                    margin-top: 6px;

                    .content {
                        width: 16px;
                        height: 6px;
                        background: #6b778c;
                        border-radius: 2px;
                        margin-right: 2px;
                    }
                }
                .member {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    right: 4px;
                    bottom: 4px;
                    background: #6b778c;
                    border-radius: 5px;
                }
            }
        }
        .full-cover-preview {
            .full-content-container {
                position: absolute;
                bottom: 4px;
                padding: 6px 4px 4px 6px;
            }
        }
        .wide {
            background: #6b778c;
            height: 4px;
            border-radius: 2px;
            width: 122px;
        }
        .narrow {
            background: #6b778c;
            height: 4px;
            border-radius: 2px;
            width: 98px;
            margin-top: 4px;
        }
    }
    .text-color-container {
        margin-top: 16px;
        margin-bottom: 8px;

        .preview-container {
            display: grid;
            gap: 8px;
            padding: 4px;
            margin: 0 -4px;
            overflow-x: hidden;
            grid-template-columns: 1fr 1fr;

            .dark,
            .light {
                cursor: pointer;
                border-radius: 3px;
                background-size: cover;
                background-position: center;
                padding: 6px 10px 6px 12px;
                overflow: hidden;
                margin-bottom: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
            }
            .dark {
                color: #ffffff;
            }
            .light {
                color: #172b4d;
            }
        }
    }
    .attachment-container,
    .images-container {
        display: grid;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h4.images-header {
        margin-top: 16px;
        margin-bottom: 4px;
    }
    .attachment-preview {
        margin: 0;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 48px;
        width: 88px;
        cursor: pointer;

        &:hover {
            filter: saturate(85%) brightness(85%);
        }
    }
    .images-container {
        position: relative;
    }
    .image-preview {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    .colors-container {
        display: grid;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .color-preview {
        margin: 0;
        border-radius: 3px;
        height: 72px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        width: 50px;
        height: 32px;
        cursor: pointer;

        &:hover {
            filter: saturate(85%) brightness(85%);
        }
    }
    .active {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
        filter: none;

        &:hover {
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #5ba4cf;
            filter: none;
        }
    }
    .tip {
        font-size: 12px;
        line-height: 16px;
        margin-top: 12px;
        color: #5e6c84;
    }
}

.image-picker {
    .buttons-container {
        .grey-btn {
            margin: 0 0 0 8px;
            border-radius: 3px;
            line-height: 20px;
            background-color: #091e420a;
            border: none;
            cursor: pointer;
            padding: 6px 12px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
            margin: 0 4px 4px 0;

            &:hover {
                background-color: #091e4214;
            }
        }
    }

    .unsplash-txt {
        font-size: 12px;
        line-height: 16px;
        margin-top: 12px;
        color: #5e6c84;
        float: right;

        a {
            color: #5e6c84;
        }
    }

    .images-container {
        display: grid;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h4.images-header {
        margin-top: 16px;
        margin-bottom: 4px;
    }
    .attachment-preview {
        margin: 0;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 48px;
        width: 88px;
        cursor: pointer;
        &:hover {
            filter: saturate(85%) brightness(85%);
        }
    }
    .active {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
        filter: none;

        &:hover {
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #5ba4cf;
            filter: none;
        }
    }
    .large-image-container {
        -webkit-overflow-scrolling: touch;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        overflow-x: hidden;
        max-height: 512px;
        overflow-x: hidden;
        overflow-y: hidden;

        &::-webkit-scrollbar-track-piece {
            background: rgba(9, 30, 66, 0.08);
        }
        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }
        .large-preview {
            border-radius: 3px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: none;
            height: 81px;
            width: 136px;
            border: none;
            padding: 6px 12px;
            cursor: pointer;

            &:hover {
                filter: saturate(85%) brightness(85%);
            }
        }
    }
}
