.custom-modal-container {
    position: fixed;
    border: 1px solid #ebecf0;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #5e6c84;
    top: 100px;
    z-index: 20;
    width: 304px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;

    .custom-modal-header {
        height: 40px;
        margin-bottom: 8px;
        position: relative;
        text-align: center;
        .custom-back {
            left: 0;
            padding: 10px 8px 10px 12px;
            position: absolute;
            color: #42526e;
            font-family: trellicons;
            cursor: pointer;
            display: block;
            z-index: 2;

            &:before {
                content: "\e90a";
            }
            &:hover {
                color: #172b4d;
            }
        }
        .title {
            border-bottom: 1px solid #091e4221;
            box-sizing: border-box;
            color: #5e6c84;
            display: block;
            line-height: 40px;
            margin: 0 12px;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            z-index: 1;
        }
        .custom-close {
            color: #6b778c;
            padding: 10px 12px 10px 8px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            font-size: 16px;
            height: 40px;
            width: 40px;
            font-family: trellicons;
            cursor: pointer;
            &:hover {
                color: #172b4d;
            }

            &::before {
                content: "\e91c";
            }
        }
    }

    .custom-modal-main {
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 12px 12px;
        overflow-x: hidden;
        max-height: calc(100vh - 10.5rem);

        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background: darken($clr5, 10%);
            border-radius: 10px;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        hr {
            margin: 8px 0;
            background-color: #091e4221;
            border: 0;
            height: 1px;
            margin: 16px 0;
            padding: 0;
            width: 100%;
        }

        .custom-btn {
            width: 100%;
            border: none;
            border-radius: 3px;
            box-sizing: border-box;
            display: inline-block;
            line-height: 20px;
            padding: 6px 12px;
            position: relative;
            background-color: #091e420a;
            cursor: pointer;
            margin: 8px 4px 8px 0;
            text-align: center;
            color: #172b4d;
            font-size: 14px;

            &:hover {
                background-color: #091e4214;
                border: none;
                box-shadow: none;
            }

            &:active {
                color: #0079bf;
                background-color: #e4f0f6;
                border: none;
                box-shadow: none;
                color: #0079bf;
                outline: 0;
            }
        }

        .custom-input {
            @include custom-input;
        }

        h4 {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            margin-top: 16px;
            margin: 0 0 8px;
        }

        .add-btn {
            @include blue-btn();
            padding: 0.5rem 1.5rem;
            display: inline-block;
            height: 32px;
        }

        .delete-btn {
            @include delete-btn();
        }

        .v-icon {
            font-size: 16px;
            font-family: trellicons;
            line-height: 20px;
            position: absolute;
            &:before {
                content: "\e916";
            }
        }
    }
}
