.date-picker {
   .calendar-container {
    @include flex(column);
    >* {
        width: 100%;
        border: none;

    }
   }
   .custom-btn {
       &.save {
           background-color: $clr7;
           color: $clr4;
        &:hover {
            background-color: $clr7;
            color: $clr4;
        }
       }
   }
    .date-options {
        @include flex(row, flex-start);
        gap: rem(6px);
        input {
            padding: 5px !important;
            border: 2px solid $clr7 !important;

        }
        input:nth-child(1) {
            width: 51% !important;
        }
        input:nth-child(2) {
            width: 40% !important;
        }
    }
}