.home-header {
  transition: all 0.6s ease-in;
  @include flex(row, space-between);
  padding: 0 rem(20px);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 90px;
  @media (max-width: 400px) {
    padding: 10px;
  } 
  .logo {
    user-select: none;
    @include flex;
    gap: rem(12px);
    @media (max-width: 400px) {
      gap: rem(5px)
    } 
    }
    h2 {
      font-family: katahdin, sans-serif;
      font-size: rem(40px);
      line-height: 1;
      margin-top: 2.9px;
    }
    span {
      font-size: 2.5em;
      color: $clr2;
      margin-bottom: 3px;
    }
    @media (max-width: 700px) {
      h2 {
        font-size: rem(25px);
        margin-top: 0;
      }
      span {
        font-size: 1.7em
      }
  }
  nav {
     .guest-nav {
      @include flex;
      gap: rem(5px);
      a {
        margin-right: 0 !important;
      }
     }
     .member-nav {
       margin-bottom: 4px;
       a {
         user-select: none;
         font-size: 1.3em;
       }
     }
     a {
      cursor: pointer;
      color: $clr2;
      font-size: rem(18px);
      font-weight: 600;
      text-decoration: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      &:hover {
        text-decoration:underline;
      }
     }
    a:nth-child(2) {
      @include blue-btn(22px);
      font-size: 1rem;
      background-color: $clr2;
      margin: rem(10px);
      font-size: rem(18px);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      line-height: 20px;
      padding: 0.5em rem(10px);
      transition: background-color 0.2s ease-in;
      &:hover {
        background-color: darken($clr2, 10%);
      }
    }
  }
}
