.label-picker {
    width: 100%;
    height: 100%;
    .custom-modal-container {
        .v-icon {
            height: 20px;
            width: 20px;
            color: #fff;
            text-decoration: none;
            right: 6px;
            top: 6px;
        }
        .labels-container {
            margin-bottom: 8px;
            margin: 0;
            padding: 0;
            color: white;

            li {
                padding-right: 36px;
                position: relative;
                height: 32px;
                margin: 0 0 4px;

                .label-hover-tab {
                    width: 8px;
                    min-height: 20px;
                }

                .label-in-label-picker {
                    border-radius: 3px;
                    cursor: pointer;
                    font-weight: 700;
                    margin: 0 0 4px;
                    min-height: 20px;
                    padding: 6px 12px;
                    position: relative;
                    width: 100%;
                    transition: padding 85ms, margin 85ms, box-shadow 85ms, width 0;
                    height: 32px;

                    &:hover {
                        margin-left: 4px;
                        width: calc(100% - 4px);
                    }
                }
            }

            .edit-label {
                border-radius: 3px;
                padding: 6px;
                position: absolute;
                right: 0;
                color: #42526e;
                font-size: 16px;
                -moz-osx-font-smoothing: grayscale;
                font-family: trellicons;
                width: 32px;
                cursor: pointer;

                &:before {
                    content: "\e928";
                }

                &:hover {
                    background-color: #091e4214;
                    color: #091e42;
                    outline: 0;
                    top: 0;
                }
            }
        }
        .form-label {
            label {
                margin-top: 4px;
                color: #5e6c84;
                display: block;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 4px;
            }

            .colorPalette {
                float: left;
                height: 32px;
                margin: 0 7.5px 8px 0;
                padding: 0;
                width: 48px;
                border-radius: 4px;
                @include lighten;
                @include flex;
            }

            .empty-card-container {
                display: inline-flex;
                .colorPalette {
                    width: 55.5px;
                }
                p {
                    margin: 0;
                }
                p:first-of-type {
                    color: #172b4d;
                }
            }
            .add-btn {
                margin-top: 7px;
            }

            .v-icon {
                position: inherit;
                width: auto;
            }
        }
        &.delete-mode {
            p {
                margin: 0 0 8px;
                color: #172b4d;
            }

            .delete-btn {
                width: 100%;
                justify-content: center;
            }
        }
    }
}
