.custom-modal-container {
    .custom-modal-main {
        .members-container {
            li {
                width: 280px;
                height: 40px;
                cursor: pointer;
                border-radius: 3px;
                &:hover {
                    background-color: #091e420a;
                }

                .member {
                    line-height: 32px;
                    margin: 0 0 2px 0;
                    padding: 4px;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    .member-info {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    span {
                        padding-left: 5px;
                    }

                    .v-icon {
                        display: block;
                        padding: 11px;
                        right: 0;
                        top: 0;
                        color: #42526e;
                        width: 42px;
                        display: none;
                    }

                    &.active {
                        padding-right: 28px;
                        .v-icon {
                            display: block;
                        }
                    }
                }
            }
        }

        .msg-no-members {
            padding: 24px 6px;
            width: 280px;
            height: 108px;
            background-color: #091e420a;
            border-radius: 3px;
            color: #5e6c84;
            display: block;
            text-align: center;
        }
    }
}
