.move-card {
    @include flex;
    margin: auto;
    width: max-content;
    button {
        @include blue-btn;
        margin-top: rem(15px);
        width: 82px;
    }
    label {
        background-color: red;
        .board-info {
            p {
                margin: 0;
            }
            p:nth-child(1) {
                font-size: em(14px);
            }
            p:nth-child(2) {
                color: $clr1;
            }

            @include flex(column, center, _);
            margin-top: rem(10px);
            position: relative;
            width: 280px;
            padding-left: 10px;
            height: 50px;
            border-radius: 3px;
            background-color: $clr5;
        }
        select {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
