*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: lh(26px);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: lh(40px, 29px);
  font-family: roboto-header, sans-serif; 
  color: $clr1
}

h1 {
  font-size: rem(60px);
  font-weight: 600;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

pre, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}