@font-face {
    font-family: roboto-header;
    src: url('/src/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('/src/assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: katahdin;
    src: url('/src/assets/fonts/KatahdinRound.otf');
}

@font-face {
    font-family: trellicons;
    src: url('/src/assets//fonts//trellicons.ttf');
}